body{
    background-image: url(../img/pexels-photo-2908984.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    display: grid;
    margin-top: 198px;
    justify-content: center;
    align-items: center;

}
.wrapper img{
    margin-bottom: 51px;

}
.wrapper input{

    padding-left: 20px;
    background-color:transparent;
    border: 1px solid #E5E5E5;
border-radius: 4px;
color: #fff;
width: 300px;
height: 45px; 
margin-bottom: 20px;
}
#userName{
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-position: 3px 10px;
}
#userPassword{
    background-image: url(../img/lock.svg);
    background-repeat: no-repeat;
    background-position: 3px 10px;
}
::placeholder{
    
    color:  #E5E5E5;;
    padding: 13px 50px;
}
.wrapper .btn{
    position: relative;
    width: 300px;
    height: 45px;
    color:  #0D75FF;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.wrapper .btn:hover{
    background-color: #2894ff;
    color:#fff;
    transition: 0.5s;
    transition-delay: 1s;
}

a span{
    position: absolute;
    display: block;
    background-color: #36414d;
}
a span:nth-child(1){
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
}
a span:nth-child(1){
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
}
a span:nth-child(2){
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
a:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.25s;
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
a:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin:top;
    transition: transform 0.25s;
}
a span:nth-child(4){
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
a:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: right;
    transition: transform 0.25s;
}

.forget{
    text-decoration: none;
    color: #fff;
    margin-left: 175px;
}
.userImg{
    position: absolute;
    top:305px;
    left: 620px;
}
.lockImg{
    position: absolute;
    top:370px;
    left: 620px;
}